<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://emailsendertriger20240214144827.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d4324315-ae5c-4ac0-9320-1d2e0302dec5/resourceGroups/docxresources/providers/Microsoft.Web/sites/EmailSenderTriger20240214144827</ResourceId>
    <UserName>$EmailSenderTriger20240214144827</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://emailsendertriger20240214144827.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>